<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <header>
        <h2>Mycamu</h2>
        <ul>
            <a href="/home"><li>Attendance</li></a>
            <a href="/leave"><li>Leave</li></a>
            <a href="/profile"><li>Profile</li></a>
        </ul>
    </header>
    <div class="container">
        <div class="box">
            <div class="menu">
                <h2>Result</h2>
            </div>
            <div class="content">
                <div class="details">
                    <h4>ODD-UG-III-R21 (Dec-2023)</h4>
                </div>
                <div class="Status">
                    <button>View</button>
                    <button>Download</button>
                </div>
            </div>
            <div class="table_result">
                <table>
                    <tr>
                      <th>SEMESTER</th>
                      <th>COURSE CODE</th>
                      <th>COURSE NAME</th>
                      <th>CREDIT</th>
                      <th>GRADE POINT</th>
                      <th>GRADE</th>
                      <th>RESULT STATUS</th>
                    </tr>
                    <tr>
                      <td>ODD-UG-III-R21</td>
                      <td>U18MAT5101</td>
                      <td>PARTIAL DIFFERENTIAL EQUATIONS AND TRANSFORMS</td>
                      <td>4</td>
                      <td>10</td>
                      <td>O</td>
                      <td>PASS</td>
                    </tr>
                    <tr>
                        <td>ODD-UG-III-R21</td>
                        <td>U18MAT5101</td>
                        <td>PARTIAL DIFFERENTIAL EQUATIONS AND TRANSFORMS</td>
                        <td>4</td>
                        <td>10</td>
                        <td>O</td>
                        <td>PASS</td>
                      </tr>
                      <tr>
                        <td>ODD-UG-III-R21</td>
                        <td>U18MAT5101</td>
                        <td>PARTIAL DIFFERENTIAL EQUATIONS AND TRANSFORMS</td>
                        <td>4</td>
                        <td>10</td>
                        <td>O</td>
                        <td>PASS</td>
                      </tr>
                      <tr>
                        <td>ODD-UG-III-R21</td>
                        <td>U18MAT5101</td>
                        <td>PARTIAL DIFFERENTIAL EQUATIONS AND TRANSFORMS</td>
                        <td>4</td>
                        <td>10</td>
                        <td>O</td>
                        <td>PASS</td>
                      </tr>
                      <tr>
                        <td>ODD-UG-III-R21</td>
                        <td>U18MAT5101</td>
                        <td>PARTIAL DIFFERENTIAL EQUATIONS AND TRANSFORMS</td>
                        <td>4</td>
                        <td>10</td>
                        <td>O</td>
                        <td>PASS</td>
                      </tr>
                  </table>
            </div>
        </div>
    </div>
    <footer>
        <div class="foot">
            <div class="copy">
                <span>© 2024 Mycamu, Inc</span>
          </div>
        </div>
    </footer>
    <link rel="stylesheet" href="/css/Sresult.css">
</body>
</html>