<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h2>Mycamu</h2>
        <ul>
            <a href="/home"><li>Attendance</li></a>
            <a href="/leave"><li>Leave</li></a>
            <!-- <a href="/result"><li>Result</li></a> -->
            <a href="/add"><li>Add Student</li></a>
        </ul>
    </header>
    <div class="container">
        <div class="box">
            <form action="/home_sumbit" method="post">
                <!-- <div class="input-group">
                    <div class="form-group">
                        <label for="typeofleave">Class</label>
                        <select id="leave" name="leave" required>
                            <option value="Class_A">Class-A</option>
                            <option value="Class-B">Class-B</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" id="data" name="data" required>
                    </div>
                    <div class="form-group">
                        <label for="period">Period</label>
                        <input type="number" id="perido" name="period" required>
                    </div>
                </div> -->
                <div class="plain">
                    <% data.forEach(item => { %>
                        <label><input type="checkbox" name="<%= item.stid %>"><%= item.rollno %></label><br>
                    <% }) %>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <footer>
        <div class="foot">
            <div class="copy">
                <span>© 2024 Mycamu, Inc</span>
          </div>
        </div>
    </footer>
    <link rel="stylesheet" href="/css/Thome.css">
</body>
</html>